.locatonLine {
    width: 93%;
    height: 40px;
    margin: 0 auto 20px auto;
    ul {
        display: flex;
    }
    li {
        font-size: 14px;
        padding: 5px 10px 5px 5px;
        color: #757575;
    }
}