.wrapper {
    margin-bottom: 70px;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    h2, h3 {
        margin: 20px 0; 
    }
    p {
        padding: 12px 0;
    }
}
.bold {
    font-weight: 600;
}